<%- include ../header.ejs %>

	<button class="btn btn-default"><a href="/tqfhome?program=<%= programname %>&year=<%= year %>">TQF</a></button><br/>
	<button class="btn btn-default"><a href="#">CUPT-QA</a></button><br/>
	<button class="btn btn-default"><a href="#">Gen .tex file</a></button>


<%- include ../footer.ejs %>