
<div class="jumbotron">
	<center>
	  <h1>Welcome to Monkey Office</h1>
	  <p>Make your life easily</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</center>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/qa.png"  >
      <div class="caption">
        <center><h3>Quality Assurance</h3></center>
        <center><p><a href="#" class="btn btn-primary" role="button">Quality Assurance</a> </p></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/wf.jpg" >
      <div class="caption">
        <center><h3>Workflow management</h3></center>
        <center><p><a href="/workflow" class="btn btn-primary" role="button">Workflow Management</a> </p></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/db.png" >
      <div class="caption">
        <center><h3>Database Management</h3></center>
        <center><p><a href="#" class="btn btn-primary" role="button">Database Management</a> </p></center>
      </div>
    </div>
  </div>
</div>