<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
			html {
				font-size: 6.25%; 
			}
			body
			{
				background-color: #EADBEB;
				font-size: 14em;
			}
			.navbar-default 
			{
				background-color: #4E8975;
				border-color: #E7E7E7;
			}
    </style>
</head>
<body>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>

			      
				  <!----------------------picture Logo-------------------------->
				 <a href="/home"><img align="left" src="/imagelogo.jpg" width="200" height="200"></a>
				  
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
				 <h3><span class="fa fa-user"></span> <a href="/profile"><%= user.local.email %></a></h3>
				 <!-- LOGIN FORM -->
				 <h1><span class="fa fa-sign-in"></span><a href="/">Log Out</h1>
					<!--<hr>
					<p>For get password? <a href="/signup">forget</a></p>-->
					<br>
					<br>
					<br>
					<br>
			        <!--<li><a href="#"><font color="#FFFFFF">Home</font></a></li>		       
			        <li><a href="#"><font color="#FFFFFF">Profile</font></a></li>
					<li><a href="#"><font color="#FFFFFF">Process</font></a></li>
					<li><a href="#"><font color="#FFFFFF">Help</font></a></li>-->
			        
			  
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
									
		<table border="2" align="center" >
				<tr height="30">
					<td width="170">
					</td>
					<td width="940">
					</td>
					<td width="170">
					</td>
				</tr>
				<tr height="500">
					
					<td width="170">
					
					</td>
					<td  bgcolor="#FFFFFFF" >
					<button class="btn btn-default">Workflow</button><br/>
					<button class="btn btn-default">DMS</button><br/>
					<button class="btn btn-default"><a href="/qapage">QA</a></button>
					
						
					</td>
					<td width="170">
					
					</td>
					
					
				</tr>
		</table>
		<nav class="navbar navbar-default navbar-btn" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				
			    <!-- Collect the nav links, forms, and other content for toggling -->
			     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
			     	<img align="left" src="../Mainpage/index_pic/pic3.png" width="100" height="80">
				<br>
			    <center><font  color="#FFFFFF">International College, King Mongkut’s Institute of Technology<br>
			      Ladkrabang Chalongkrung Rd.Ladkrabang , Bangkok Thailand 10520
				  Tel: +66-2329-8261 Fax: +66-2329-8262 Email: ic@kmitl.ac.th</font></center>
				 
			
				
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		
		
		
		
</body>
</html>