<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
			html {
				font-size: 6.25%; 
			}
			body
			{
				background-color: #EADBEB;
				font-size: 14em;
			}
			.navbar-default 
			{
				background-color: #4E8975;
				border-color: #E7E7E7;
			}
    </style>
</head>
<body>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>

			      
				  <!----------------------picture Logo-------------------------->
				   <img align="left" src="/imagelogo.jpg" width="225" height="225">
				  
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
				
				<!--<form class="navbar-form navbar-right" role="search"  action="../../Mainpage/search/main_search.php">
				<br>
				 <div class="form-group">
					<input type="text" class="form-control" name ="keysearch" >
				 </div>
					<?php
					error_reporting(E_ALL ^ E_NOTICE);					
					?>					
				  <button type="submit" class="btn btn-default">Login</button>
				</form>-->
				 <!-- LOGIN FORM -->
				 <hr>
					<form class="navbar-form navbar-right" action="/login" method="post">
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" name="email">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" name="password">
						</div>

						<button type="submit" class="btn btn-warning btn-lg">Login</button>
					</form>
					<!--<hr>
					<p>For get password? <a href="/signup">forget</a></p>-->
					<br>
					<br>
					<br>
					<br>
			        <!--<li><a href="#"><font color="#FFFFFF">Home</font></a></li>		       
			        <li><a href="#"><font color="#FFFFFF">Profile</font></a></li>
					<li><a href="#"><font color="#FFFFFF">Process</font></a></li>
					<li><a href="#"><font color="#FFFFFF">Help</font></a></li>-->
			        
			  
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
									
		<table border="2" align="center" >
				<tr height="30">
					<td width="170">
					</td>
					<td width="940">
					</td>
					<td width="170">
					</td>
				</tr>
				<tr height="500">
					
					<!--<td width="170">
					<button class="btn btn-default">Workflow</button><br/>
					<button class="btn btn-default">DMS</button><br/>
					<button class="btn btn-default">QA</button>
					</td>-->
					<td  bgcolor="#FFFFFFF" >
					</td>
					<td width="170">
					</td>
					
					
				</tr>
		</table>
		<nav class="navbar navbar-default navbar-btn" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				
			    <!-- Collect the nav links, forms, and other content for toggling -->
			     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
			     	<img align="left" src="../Mainpage/index_pic/pic3.png" width="100" height="80">
				<br>
			    <center><font  color="#FFFFFF">International College, King Mongkut’s Institute of Technology<br>
			      Ladkrabang Chalongkrung Rd.Ladkrabang , Bangkok Thailand 10520
				  Tel: +66-2329-8261 Fax: +66-2329-8262 Email: ic@kmitl.ac.th</font></center>
				 
			
				
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		
		
		
		
</body>
<!--<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>-->
</html>