<form action="/addedu" method="post" >	
		
	<label>Email</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Email Address" name="email" value ="{{ user.local.email }}" readonly><br>
	<label>Level:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your level" name="level"    required><br>
	<label>Degree:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Degree" name="degree" required><br>
	<label>University:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your University" name="university" required><br>
	<label>Year:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Year" name="year" required><br>
	    
	<footer>
	  <input type="submit" class="btnLogin" value="Add" tabindex="1">
	</footer>
</form>