<%- include ../header.ejs %>
					
					<button class="btn btn-default"><a href = "/profile_inf">Profile</button><br/></a>
					<button class="btn btn-default"><a href = "/work_inf">Work</button><br/></a>
					<button class="btn btn-default"><a href = "/course_inf">Course</button><br/></a>
					<!--check that is staff or student-->
					<button class="btn btn-default"><a href = "/education_inf">Education</button></a>
					<!--Check user is admin or not -->
					<%if(user.local.email == "admin"){%>
						<button class="btn btn-default"><a href="/fachome">Faculty</a></button>
					<%}%>
<%- include ../footer.ejs %>