<!doctype html>
<html>
<head>
	<title>Just Monkey</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/workflow.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/diagram-js.css" />
  	<link rel="stylesheet" href="/bpmn-font/css/bpmn-embedded.css" />
  	<link rel="stylesheet" href="/stylesheets/app.css" />
  	<link rel="stylesheet" href="/stylesheets/table.css" />
</head>
<body>
	 <nav class="navbar navbar-default my-navi">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Monkey Office</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/profile">Profile</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="/">Log out</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
       
    </div><!-- /.container-fluid --> 
  </nav>
  <table style="width:100%" border="0">
	<tr style="height:50px">
		<td>
		</td>
	</tr>
	</table>
	<table style="width:90%" border="0">
		<tr>
			<td style="width:20%">
				<div class="text_column1position">
					<a href = "/profile_inf"><button type="button" class="btn btn-primary" style="width:180px">Profile</button><br><br>
					<a href = "/work_inf"><button type="button" class="btn btn-primary" style="width:180px">Performance</button></a><br><br>
					<a href = "/course_inf"><button type="button" class="btn btn-primary" style="width:180px">Subject</button><br><br>
					<a href = "/education_inf"><button type="button" class="btn btn-primary" style="width:180px">Education</button><br><br>
					{{#if fac}}
				      <a href = "/admin"><button type="button" class="btn btn-primary" style="width:180px">Admin</button><br><br>
				    {{/if}}
				</div>
			</td>
			<td>
				{{{body}}}
			</td>
		</tr>
	</table>
	
	<script src = "/bpmn/app.min.js"></script>
	<script scr = "/js/support/ga.js"></script>
</body>
</html>
